---
layout: page
title: "桌游"
description: "这里是桌游作品集合."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>这里展示的是各种桌游作品和相关内容<br>
    </blockquote>


    


	 <!-- Friends Blog -->
                {% if site.games %}
                <hr>
                <h5>仕诡牌</h5>
                <style>
                    .game-categories {
                        margin: 20px 0;
                        text-align: center;
                    }
                    .game-categories .btn {
                        margin: 0 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        border-radius: 5px;
                    }
                    .boardgame-list {
                        margin-top: 30px;
                    }
                    .boardgame-item {
                        margin-bottom: 30px;
                        padding: 20px;
                        border-radius: 5px;
                        background-color: #f8f9fa;
                        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                    }
                    .boardgame-item h4 {
                        color: #0085a1;
                        margin-top: 0;
                    }
                    .boardgame-item p {
                        margin: 10px 0;
                    }
                    .boardgame-item .badge {
                        background-color: #0085a1;
                        margin-right: 5px;
                    }
                </style>
                
                <hr>
                <h5>基础规则介绍</h5>
                <p>欢迎体验这款卡牌游戏！让我带您快速了解规则！游戏准备：将每个卡牌1-10挑选出来 作为牌堆，并把k放在场上作为从属卡,每回合开始，进入发牌阶段，每个从属卡会收到一张“需求卡”（从牌堆获取）。玩家将抽牌抽到4，你的手牌则称为“资源卡”，每回合可以打出最多4张资源卡到从属上。如果出牌阶段打出的资源卡和从属上的需求卡匹配，就能一起消除并得分，并且你将额外获得从属头顶上的资源，代表其产出的资源！但如果从属上的牌是在发牌阶达到2张，不仅不会获得分数，还要支付从属花色上的资源作为惩罚。没有对应资源时，可以用“民心卡(红桃)”代替支付惩罚；如果连民心卡都没有，就得扣1点体力值。所以，民心卡非常重要！坚持到第5回合结束，你就胜利了！提示：合理管理资源和民心卡，优先匹配需求，避免惩罚。准备好，马上开始吧！</p>
                <h5>变体规则介绍，以下卡牌可以加入游戏也可以不加入游戏</h5>
                <div class="boardgame-list">
                    <div class="boardgame-item">
                        <h4>J</h4>
                        <p><span class="badge">武器牌</span> <span class="badge">道具牌</span></p>
                        <p>当得分区拥有四种不同花色，可以移出四张卡牌进入废弃区，将一张武器牌加入手卡</p>
                        <p>武器卡发动直接进入得分区，充当40点得分，并根据武器类型执行额外效果</p>
                        <p>红桃：待编辑，黑桃：待编辑，梅花：待编辑，方块：待编辑</p>
                    </div>
                    
                    <div class="boardgame-item">
                        <h4>Q</h4>
                        <p><span class="badge">诡异牌</span> <span class="badge">新的场景坐标</span></p>
                        <p>可以放在场景中充当新的从属卡，玩家如果达到二张执行额外的效果</p>
                        <p>当从属上 达到2张（无论是发牌阶段还是出牌阶段），则消除同色卡牌，根据从属的花色执行额外的效果，此处消除的卡牌不进入得分区，而是废弃区</p>
                        <p>红桃：待编辑，黑桃：待编辑，梅花：待编辑，方块：待编辑</p>
                    </div>

                    <div class="boardgame-item">
                        <h4>大小王</h4>
                        <p><span class="badge">万能牌</span> <span class="badge">万用卡</span></p>
                        <p>大王可以充当红色卡</p>
                        <p>小王可以充当黑色卡</p>
                        <p>获得额外得分+10点</p>
                    </div>
                    

                </div>
                
                <p>更多变体规则将陆续更新，敬请期待！</p>
                {% endif %}
    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <li><a href="http://huangxuan.me/">Hux</a></li> 
        <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->



{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}